<div class="container-fluid bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-6 mt-2">
          <h5>Ecomerce Services</h5>
          <ul>
            <li> <i class="fas fa-angle-right"></i> Money Center</li>
            <li><i class="fas fa-angle-right"></i> Weekly Ad</li>
            <li><i class="fas fa-angle-right"></i> Get to Know Us</li>
            <li><i class="fas fa-angle-right"></i> Our Company</li>
            <li><i class="fas fa-angle-right"></i> Digital Museum</li>
          </ul>
        </div>
          <div class="col-sm-3 col-6 mt-2">
          <h5>Get to Know Us</h5>
          <ul>
            <li><i class="fas fa-angle-right"></i> Money Center</li>
            <li><i class="fas fa-angle-right"></i> Weekly Ad</li>
            <li><i class="fas fa-angle-right"></i> Get to Know Us</li>
            <li><i class="fas fa-angle-right"></i> Our Company</li>
            <li><i class="fas fa-angle-right"></i> Digital Museum</li>
          </ul>
        </div>
          <div class="col-sm-3 col-6 mt-2">
          <h5>Customer Service</h5>
          <ul>
            <li><i class="fas fa-angle-right"></i> Money Center</li>
            <li><i class="fas fa-angle-right"></i> Weekly Ad</li>
            <li><i class="fas fa-angle-right"></i> Get to Know Us</li>
            <li><i class="fas fa-angle-right"></i> Our Company</li>
            <li><i class="fas fa-angle-right"></i> Digital Museum</li>
          </ul>

        </div>
          <div class="col-sm-3 col-6 mt-2">
          <h5>In The Spotlight</h5>
          <ul>
            <li><i class="fas fa-angle-right"></i> Money Center</li>
            <li><i class="fas fa-angle-right"></i> Weekly Ad</li>
            <li><i class="fas fa-angle-right"></i> Get to Know Us</li>
            <li><i class="fas fa-angle-right"></i> Our Company</li>
            <li><i class="fas fa-angle-right"></i> Digital Museum</li>
          </ul>
        </div>
        </div>
      </div>
    </div>