{% extends "base.html" %}

{% block content %}
   <div class="container cate1">
      <div class="row">
        <div class="col-sm-3 col-6">
          <img src="{{url_for('static',filename='images/cate1.jpg')}}" alt="" width="100%">
          <h6 class="mt-2">Shop study furnishings from $30</h6>
        </div>
        <div class="col-sm-3 col-6"><img src="{{url_for('static',filename='images/cate2.jpg')}}" alt="" width="100%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
        <div class="col-sm-3 col-6"><img src="{{url_for('static',filename='images/cate3.jpg')}}" alt="" width="100%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
        <div class="col-sm-3 col-6"><img src="{{url_for('static',filename='images/cate4.jpg')}}" alt="" width="100%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
      </div>
    </div>
    <div class="container cate2">
      <div class="row">
        <div class="col-sm-3 col-6"><img src="{{url_for('static',filename='images/cate5.jpg')}}" alt="" width="100%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
        <div class="col-sm-3 col-6"><img src="{{url_for('static',filename='images/cate6.jpg')}}" alt="" width="100%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
        <div class="col-sm-3 col-6"><img src="{{url_for('static',filename='images/cate7.jpg')}}" alt="" width="100%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
        <div class="col-sm-3 col-6"><img src="{{url_for('static',filename='images/cate8.jpg')}}" alt="" width="100%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
      </div>
    </div>

    <div class="container product1">
      <div class="shop_category text-center"><h3>Shop by Category</h3></div>
      <div class="row">
        <div class="col-sm col-6"><img src="{{url_for('static',filename='images/product1.jpg')}}" alt="" width="70%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
        <div class="col-sm col-6"><img src="{{url_for('static',filename='images/product2.jpg')}}" alt="" width="70%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
        <div class="col-sm col-6"><img src="{{url_for('static',filename='images/product3.jpg')}}" alt="" width="70%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
        <div class="col-sm col-6"><img src="{{url_for('static',filename='images/product4.jpg')}}" alt="" width="70%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
        <div class="col-sm col-6"><img src="{{url_for('static',filename='images/product5.jpg')}}" alt="" width="70%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
      </div>
      <div class="row">
        <div class="col-sm col-6"><img src="{{url_for('static',filename='images/product6.jpg')}}" alt="" width="70%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
        <div class="col-sm col-6"><img src="{{url_for('static',filename='images/product7.jpg')}}" alt="" width="70%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
        <div class="col-sm col-6"><img src="{{url_for('static',filename='images/product8.jpg')}}" alt="" width="70%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
        <div class="col-sm col-6"><img src="{{url_for('static',filename='images/product9.jpg')}}" alt="" width="70%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
        <div class="col-sm col-6"><img src="{{url_for('static',filename='images/product10.jpg')}}" alt="" width="70%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
      </div>
    </div>
    <div class="container product2">
      <div class="shop_category text-center"><h3>Shop by Category</h3></div>
      <div class="row">

        <div class="col-sm col-6"><img src="{{url_for('static',filename='images/product11.jpg')}}" alt="" width="70%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
        <div class="col-sm col-6"><img src="{{url_for('static',filename='images/product12.jpg')}}" alt="" width="70%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
        <div class="col-sm col-6"><img src="{{url_for('static',filename='images/product13.jpg')}}" alt="" width="70%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
        <div class="col-sm col-6"><img src="{{url_for('static',filename='images/product14.jpg')}}" alt="" width="70%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
        <div class="col-sm col-6"><img src="{{url_for('static',filename='images/product15.jpg')}}" alt="" width="70%"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
      </div>
    </div>

    <div class="container">
      <div class="shop_category text-center mt-5"><h3>We're betting you'll love...</h3></div>
        <div class="container product-slide">
      <div id="slide1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product5.jpg')}}" class="d-block w-100"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product7.jpg')}}" class="d-block w-100"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product9.jpg')}}" class="d-block w-100"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product11.jpg')}}" class="d-block w-100"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product13.jpg')}}" class="d-block w-100"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product15.jpg')}}" class="d-block w-100"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product17.jpg')}}" class="d-block w-100"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product19.jpg')}}" class="d-block w-100"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">

              <div class="row">
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product1.jpg')}}" class="d-block w-100"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product3.jpg')}}" class="d-block w-100"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product5.jpg')}}" class="d-block w-100"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product7.jpg')}}" class="d-block w-100"><h6 class="mt-2">Shop study furnishings from $30</h6></div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#slide1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slide1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    </div>

    <div class="container">
      <div class="shop_category text-center mt-5"><h3 class="col-sm-12 col">Continue your shopping experience</h3></div>
        <div class="container product-slide">
      <div id="slide2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product10.jpg')}}" class="d-block w-100" alt="..."><h6 class="mt-2">Shop study furnishings from $30</h6></div>
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product12.jpg')}}" class="d-block w-100" alt="..."><h6 class="mt-2">Shop study furnishings from $30</h6></div>
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product14.jpg')}}" class="d-block w-100" alt="..."><h6 class="mt-2">Shop study furnishings from $30</h6></div>
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product16.jpg')}}" class="d-block w-100" alt="..."><h6 class="mt-2">Shop study furnishings from $30</h6></div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product18.jpg')}}" class="d-block w-100" alt="..."><h6 class="mt-2">Shop study furnishings from $30</h6></div>
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product20.jpg')}}" class="d-block w-100" alt="..."><h6 class="mt-2">Shop study furnishings from $30</h6></div>
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product22.jpg')}}" class="d-block w-100" alt="..."><h6 class="mt-2">Shop study furnishings from $30</h6></div>
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product2.jpg')}}" class="d-block w-100" alt="..."><h6 class="mt-2">Shop study furnishings from $30</h6></div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">

              <div class="row">
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product1.jpg')}}" class="d-block w-100" alt="..."><h6 class="mt-2">Shop study furnishings from $30</h6></div>
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product3.jpg')}}" class="d-block w-100" alt="..."><h6 class="mt-2">Shop study furnishings from $30</h6></div>
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product5.jpg')}}" class="d-block w-100" alt="..."><h6 class="mt-2">Shop study furnishings from $30</h6></div>
                <div class="col-sm-3 col"><img src="{{url_for('static',filename='images/product7.jpg')}}" class="d-block w-100" alt="..."><h6 class="mt-2">Shop study furnishings from $30</h6></div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#slide2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slide2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    </div>
{% endblock%}
